<div class="container">
  <div class="row">
    <div class="col-6 order-lg-2">
      <img src="../public/images/hero.svg" alt="gambar" width="500" height="500" />
    </div>
    <div class="col-6 order-lg-1">
      <img src="../public/images/heroku.png" alt="" />
      <h1>Selamat datang di website sederhana saia</h1>
    </div>
  </div>
</div>
